h1= title
ul
    each item in items
        li
            i= item.get('skill')
            i= item.get('skill_level')
            strong= item.get('input_1')
            span +
            strong= item.get('input_2')
            span= '='+item.get('output')+'('+item.get('output_category')+')'
            hr
            p= item.get('notes')
