.item-content
  .arrow
  h3.item-title= item.get('output')
  span.item-subtitle= item.get('output_category')

  if item.get('notes')
    h4.item-section-title Notes
    p= item.get('notes')

  if item.get('bonus')
    h4.item-section-title Bonus
    p= item.get('bonus')

  if item.get('skill')
    h4.item-section-title.highlight
      if item.get('skill').toLowerCase() === 'crafting'
        .fa.fa-flask
      else if item.get('skill').toLowerCase() === 'blacksmithing'
        .fa.fa-gavel
      span= item.get('skill') + ' ' + item.get('skill_level')

.item-inputs.box.waves-effect.waves-block
  .item-input= item.get('input_1')
  .fa.fa-bolt
  .item-input= item.get('input_2')
